#navbar{
    box-shadow: 1px 1px 2px rgba(2, 2, 2, .9),
                2px 2px 3px rgba(2, 2, 2, .6),
                4px 4px 6px rgba(2, 2, 2, .3);
}
#navbar-toggler{
    position:static;
    margin-bottom:110px;
    margin-left:auto;
    margin-right: 5px;
    border: 1px outset rgb(2, 2, 2);
}
#navbar-toggler:hover{
    position:static;
    margin-left: auto;
    border: 1px outset rgb(2, 2, 2);
    box-shadow: inset 1px 1px 2px rgba(85, 0, 0, 0.9),
    inset 2px 2px 3px rgba(102, 0, 0, 0.9),
    inset 4px 4px 6px rgba(107, 0, 0, 0.9);
}
#navbar-toggler:focus{
    position:static;
    margin-left: auto;
    border: 1px outset rgb(2, 2, 2);
    box-shadow: inset 1px 1px 2px rgba(85, 0, 0, 0.9),
    inset 2px 2px 3px rgba(102, 0, 0, 0.9),
    inset 4px 4px 6px rgba(107, 0, 0, 0.9);
}



#navbarSupportedContent{
    text-align: center;
    border: 1px inset rgb(119, 0, 0);
    border-radius: 5px;
    width: 100px;
    box-shadow: inset 1px 1px 2px rgba(2, 2, 2, .9),
                inset 2px 2px 3px rgba(2, 2, 2, .6),
                inset 4px 4px 6px rgba(2, 2, 2, .3);
}

#navbarSupportedContentToggle{
    text-align: center;
    border: 1px solid rgb(27, 26, 26);
    width: 300px;
    box-shadow: inset 1px 1px 2px rgba(2, 2, 2, .9),
                inset 2px 2px 3px rgba(2, 2, 2, .9),
                inset 4px 4px 6px rgba(2, 2, 2, .9);
}
#nav-link:hover{
    text-shadow: 1px 2px 2px rgb(8, 8, 8);
    background-color: rgb(73, 69, 69);
    margin: 5px;
    border: 1px solid rgb(119, 2, 2);
    border-radius: 7px;
    box-shadow: inset 1px 1px 2px rgba(2, 2, 2, .9),
    inset 2px 2px 3px rgba(2, 2, 2, .9),
    inset 4px 4px 6px rgba(2, 2, 2, .9);
    transition: .2s;
}

@media screen and (min-width: 500px) {
    #navbar-toggler{
        position:static;
        margin-bottom:auto;
        margin-left:auto;
        margin-right: 5px;
        border: 1px outset rgb(2, 2, 2);
    }
    }
  