body{
    font-family: 'Roboto Mono', monospace;
    background-image: url("DiamondPlateBlack.jpg");
    background-size: contain;
    color: bisque;
    background-color: rgb(44, 43, 43);
}
#navbar{
    box-shadow: 1px 1px 2px rgba(2, 2, 2, .9),
                2px 2px 3px rgba(2, 2, 2, .6),
                4px 4px 6px rgba(2, 2, 2, .3);
}
#navbar-toggler{
    position:static;
    margin-bottom:110px;
    margin-left:auto;
    margin-right: 5px;
    border: 1px outset rgb(2, 2, 2);
}
#navbar-toggler:hover{
    position:static;
    margin-left: auto;
    border: 1px outset rgb(2, 2, 2);
    box-shadow: inset 1px 1px 2px rgba(85, 0, 0, 0.9),
    inset 2px 2px 3px rgba(102, 0, 0, 0.9),
    inset 4px 4px 6px rgba(107, 0, 0, 0.9);
}
#navbar-toggler:focus{
    position:static;
    margin-left: auto;
    border: 1px outset rgb(2, 2, 2);
    box-shadow: inset 1px 1px 2px rgba(85, 0, 0, 0.9),
    inset 2px 2px 3px rgba(102, 0, 0, 0.9),
    inset 4px 4px 6px rgba(107, 0, 0, 0.9);
}

.navbarSupportedContent{
    text-align: center;
    border: 1px inset rgb(15, 15, 15);
    border-radius: 5px;
    width: 100px;
    box-shadow: inset 1px 1px 2px rgba(2, 2, 2, .9),
                inset 2px 2px 3px rgba(2, 2, 2, .6),
                inset 4px 4px 6px rgba(2, 2, 2, .3);
}

#navbarSupportedContent{
    text-align: center;
    border: 1px inset rgb(119, 0, 0);
    border-radius: 5px;
    width: 100px;
    box-shadow: inset 1px 1px 2px rgba(2, 2, 2, .9),
                inset 2px 2px 3px rgba(2, 2, 2, .6),
                inset 4px 4px 6px rgba(2, 2, 2, .3);
}


#nav-link:hover{
    text-shadow: 1px 2px 2px rgb(8, 8, 8);
    background-color: rgb(73, 69, 69);
    margin: 5px;
    border: 1px solid rgb(119, 2, 2);
    border-radius: 7px;
    box-shadow: inset 1px 1px 2px rgba(2, 2, 2, .9),
    inset 2px 2px 3px rgba(2, 2, 2, .9),
    inset 4px 4px 6px rgba(2, 2, 2, .9);
    transition: .2s;
}


      

.container{
    display: flex;
    flex-direction:row;
    width: 100vw;

}
.cardTitle1{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: bisque;
}
.profileImage1{
    margin-left: 25px;
    height: 150px;
    width: 150px;
}
.cardBorder1{
    background-image: url("shutterstock_466156970.jpg");
    background-size: contain;
    margin: 10px;
    border-radius: 15px;
    border: 3px solid rgba(65, 64, 64, 0.8);
    display: flex;
    flex-direction: row;
    height: 330px;
    width: 285px;
}
.cardPrimary1{
    background-image: url("shutterstock_391998307.jpg");
    background-size: cover;
    border-radius: 15px;
    border: 1px solid rgb(54, 54, 54);
    padding: 7px;
    margin-left: 9px;
    margin-top: 9px;
    display: flex;
    flex-direction: column ;
    height: 295px;
    width: 250px;
        
    box-shadow:
    2px 2px 18px rgba(0, 0, 0, 0.99),
    -2px -2px 18px rgba(0, 0, 0, 0.99),
    inset 12px 12px 32px rgba(0, 0, 0, 0.5),
    inset -12px -12px 32px rgba(0, 0, 0, 0.5), 
    inset 12px 12px 32px rgba(0, 0, 0, 0.5),
    inset -12px -12px 32px rgba(0, 0, 0, 0.5),
    inset 7px 7px 12px rgba(0, 0, 0, 0.9),
    inset -7px -7px 12px rgba(0, 0, 0, 0.9), 
    inset 5px 5px 8px rgba(0, 0, 0, 0.8),
    inset -5px -5px 8px rgba(0, 0, 0, 0.8);
}
.cardFoot1{
    background-color: rgba(224, 45, 0, 0.2);
    border: 1px solid Red;
    border-radius: 7px;
    padding: 5px;
    color: bisque;
    text-align: center;
}
.cardTitle2{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: bisque;
}
.profileImage2{
    margin-left: 25px;
    height: 150px;
    width: 150px;
}
.cardBorder2{
    background-image: url("shutterstock_466156970.jpg");
    background-size: contain;
    margin: 10px;
    border-radius: 15px;
    border: 3px solid rgba(65, 64, 64, 0.8);
    display: flex;
    flex-direction: row;
    height: 330px;
    width: 285px;
}
.cardPrimary2{
    background-image: url("shutterstock_391998307.jpg");
    background-size: cover;
    border-radius: 15px;
    border: 1px solid rgb(54, 54, 54);
    padding: 7px;
    margin-left: 9px;
    margin-top: 9px;
    display: flex;
    flex-direction: column ;
    height: 295px;
    width: 250px;
        
    box-shadow:
    2px 2px 18px rgba(0, 0, 0, 0.99),
    -2px -2px 18px rgba(0, 0, 0, 0.99),
    inset 12px 12px 32px rgba(0, 0, 0, 0.5),
    inset -12px -12px 32px rgba(0, 0, 0, 0.5), 
    inset 12px 12px 32px rgba(0, 0, 0, 0.5),
    inset -12px -12px 32px rgba(0, 0, 0, 0.5),
    inset 7px 7px 12px rgba(0, 0, 0, 0.9),
    inset -7px -7px 12px rgba(0, 0, 0, 0.9), 
    inset 5
    px 5px 8px rgba(0, 0, 0, 0.8),
    inset -5px -5px 8px rgba(0, 0, 0, 0.8);
}
.cardFoot2{
    background-color: rgba(224, 45, 0, 0.2);
    border: 1px solid Red;
    border-radius: 7px;
    padding: 5px;
    color: bisque;
    text-align: center;
}

.cardTitle3{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: bisque;
}
.profileImage3{
    margin-left: 25px;
    height: 150px;
    width: 150px;
}
.cardBorder3{
    background-image: url("shutterstock_466156970.jpg");
    background-size: contain;
    margin: 10px;
    border-radius: 15px;
    border: 3px solid rgba(65, 64, 64, 0.8);
    display: flex;
    flex-direction: row;
    height: 330px;
    width: 285px;
}
.cardPrimary3{
    background-image: url("shutterstock_391998307.jpg");
    background-size: cover;
    border-radius: 15px;
    border: 1px solid rgb(54, 54, 54);
    padding: 7px;
    margin-left: 9px;
    margin-top: 9px;
    display: flex;
    flex-direction: column ;
    height: 295px;
    width: 250px;
        
    box-shadow:
    2px 2px 18px rgba(0, 0, 0, 0.99),
    -2px -2px 18px rgba(0, 0, 0, 0.99),
    inset 12px 12px 32px rgba(0, 0, 0, 0.5),
    inset -12px -12px 32px rgba(0, 0, 0, 0.5), 
    inset 12px 12px 32px rgba(0, 0, 0, 0.5),
    inset -12px -12px 32px rgba(0, 0, 0, 0.5),
    inset 7px 7px 12px rgba(0, 0, 0, 0.9),
    inset -7px -7px 12px rgba(0, 0, 0, 0.9), 
    inset 5px 5px 8px rgba(0, 0, 0, 0.8),
    inset -5px -5px 8px rgba(0, 0, 0, 0.8);
}
.cardFoot3{
    background-color: rgba(224, 45, 0, 0.2);
    border: 1px solid Red;
    border-radius: 7px;
    padding: 5px;
    color: bisque;
    text-align: center;
}

#box1{
    position: absolute;
    top: 400px;

    left: 200px;

    left: 150px;

    display: flex;
    flex-direction: row;
    padding: 7px;
    height: 200px fit-content;
    width: 200px fit-content;
    border: 1px solid red;
    background-color: rgba(36, 35, 35,0.8);
    display:block;
}

#box2{
    position: absolute;
    top: 400px;

    left: 400px;

    left: 350px;

    display: flex;
    flex-direction: row;
    padding: 7px;
    height: 200px fit-content;
    width: 200px fit-content;
    border: 1px solid red;
    background-color: rgba(36, 35, 35,0.8);
    display:block;
}

#box3{
    position: absolute;
    top: 400px;
    left: 600px;
    left: 550px;
    display: flex;
    flex-direction: row;
    padding: 7px;
    height: 200px fit-content;
    width: 200px fit-content;
    border: 1px solid red;
    background-color: rgba(36, 35, 35,0.8);
    display:block
}
.cardBody {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 200px;
    border: 1px solid red;
}
.cardBody {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 200px;
    border: 1px solid red;
}

.heavyWeight{
    text-align: center;
    display: flex;
    border: 1px solid red;
    height: 25px;
    padding: 2px;
    width: fit-content;
    margin-left: 350px;
    background-color: rgb(44, 43, 43);
    
}


#modal-container{
    display: none;
  }

#is-visible{

position: sticky;
position: -webkit-sticky;
left: 30%;
top:10%;
background-color: rgba(53, 50, 50, 0.87);
border: 1px solid red;
justify-content: center;
text-align: center;
width: 500px;
height: 300px;
box-shadow: 1px 1px 2px black,
            2px 2px 3px black,
            4px 4px 8px black;
}

.is-visible{

    left: 30%;
    top:10%;
    background-color: rgba(53, 50, 50, 0.87);
    border: 1px solid red;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 300px;
    box-shadow: 1px 1px 2px black,
                2px 2px 3px black,
                4px 4px 8px black;
    }

#close{
    color: chartreuse;
    Background: black;
    border: 1px solid Red;
    position: absolute;
    right:.05px;
    top: 0
}

.pokemonButtons{
    background-image: url("DarkMetal.webp");
    background-size: contain;
    margin-left: 50px;
    padding: 10px;
    border: 1px outset rgb(172, 7, 7);
    height: fit-content;
    width: fit-content;
    box-shadow: 1px 1px 2px rgb(170, 0, 0),
                2px 2px 3px rgb(104, 1, 1),
                4px 4px 8px rgba(163, 0, 0, 0.329);
}

.pokemon-list{
    list-style-type: circle;
}

button{
    margin-top: 7px;
    margin-bottom: 7px;
    color:chartreuse;
    font-family: 'Roboto Mono', monospace;
    cursor:pointer;
    text-align: center;
    align-items: center;
    align-content: center;
    border: 1px outset rgb(122, 0, 0);
    background-color: rgba(20, 20, 20, 0.8);
    box-shadow: 1px 1px 2px rgb(0, 0, 0),
    2px 2px 3px rgb(0, 0, 0),
    4px 4px 8px rgba(0, 0, 0, 1);
    transition: 1s ease-in-out;
}
button:hover{
    box-shadow: 1px 1px 2px rgb(170, 0, 0),
    2px 2px 3px rgb(134, 2, 2),
    4px 4px 8px rgba(163, 0, 0, 0.9);
}

#close{
    cursor: pointer;
    border: 1px outset rgb(177, 170, 170);
}
#close:hover{
    border: 1px outset rgb(158, 151, 151);
    box-shadow: 1px 1px 2px rgba(131, 0, 0, 0.74),
                2px 2px 3px rgba(131, 0, 0, 0.74),
                4px 4px 6px rgba(131, 0, 0, 0.74);
}

#closeOut{
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: 1px outset rgb(34, 32, 32);
}
#closeOut:hover{
    border: 1px outset red;
    box-shadow: 1px 1px 2px rgba(131, 0, 0, 0.74),
                2px 2px 3px rgba(131, 0, 0, 0.74),
                4px 4px 6px rgba(131, 0, 0, 0.74);
}


#exampleModalCenter{
    display: block;
    position: fixed;
    top:100px;
    left: 300px;
    height: auto;
    width: 500px ;
    border-radius: 15px;
   box-shadow: 1px 1px 2px rgba(8, 8, 8, 0.74),
    2px 2px 3px rgba(15, 15, 15, 0.74),
    4px 4px 6px rgba(0, 0, 0, 0.74);

}


#exampleModalCenterShow{
    position: fixed;
    top:200px;
    left: 500px;
    height: 400px;
    width: 300px;
    border: 1px solid rgb(7, 6, 6);
    box-shadow: 1px 1px 2px rgba(8, 8, 8, 0.74),
    2px 2px 3px rgba(15, 15, 15, 0.74),
    4px 4px 6px rgba(0, 0, 0, 0.74);
    
}
.exampleModalCenterHide{
display:none;
overflow: hidden;
}

.hide{
    display:none;
    } 
    

/* .modal-header{
    position: absolute;
    top:0px;
    width: 100%;
    border-top: none;
    border-bottom: 1px inset rgba(17, 16, 16, 0.74);
    box-shadow: 1px 1px 2px rgba(22, 21, 21, 0.74),
                2px 2px 3px rgba(22, 21, 21, 0.74),
                4px 4px 8px rgba(22, 21, 21, 0.74);
    }
.modal-body{
    position: absolute;
    top: 70px;
    border-top: none;
    border-bottom: none;
    height: 300px;
} */
/* #name{
    position: fixed;
}
#height{
position: fixed;
} */
#pic{
    position: absolute;
    top: 120px;
    left: 100px
}
/* .modal-footer{
        position: inherit;
        border-top: 1px inset rgba(173, 168, 168, 0.74);
        border-bottom: none;
        box-shadow: -1px -1px 2px rgba(22, 21, 21, 0.74),
                    -2px -2px 3px rgba(22, 21, 21, 0.74),
                    -4px -4px 8px rgba(22, 21, 21, 0.74);
       } */

#closeButton{
    
    border: 1px outset rgb(133, 125, 125);
}
#closeButton:hover{
    border: 1px outset red;
    box-shadow: 1px 1px 2px rgba(131, 0, 0, 0.74),
                2px 2px 3px rgba(131, 0, 0, 0.74),
                4px 4px 6px rgba(131, 0, 0, 0.74);
}

#closeOut{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 1px;
    right: 1px;
    border: 1px outset rgb(82, 77, 77);
}
#closeOut:hover{
    border: 1px outset rgb(15, 14, 14);
    box-shadow: 1px 1px 2px rgba(131, 0, 0, 0.74),
                2px 2px 3px rgba(131, 0, 0, 0.74),
                4px 4px 6px rgba(131, 0, 0, 0.74);
}

@media screen and (min-width: 500px) {
    #navbar-toggler{
        position:static;
        margin-bottom:auto;
        margin-left:auto;
        margin-right: 5px;
        border: 1px outset rgb(2, 2, 2);
    }
    
    }

@media screen and (max-width: 500px) {
    #navbarSupportedContent{
        text-align: center;
        border: 1px inset rgb(94, 139, 21);
        border-radius: 5px;
        width: 200px;
        box-shadow: inset 1px 1px 2px rgba(2, 2, 2, .9),
                    inset 2px 2px 3px rgba(2, 2, 2, .6),
                    inset 4px 4px 6px rgba(2, 2, 2, .3);
    }
        }